@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  font-family: "DM Sans";
  background-color: #eee1f5;
  background-attachment: fixed;
  background-image: linear-gradient(135deg, #eee1f5 0%, #ccaddd 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
}

.bg-offwhite {
  background: #fffff2;
}

.bg-translucent-offwhite {
  background: #fffff2dc;
}

.text-offwhite {
  color: #fffff2;
}

.main-button {
  /* border: 1px solid rgb(206, 206, 206); */
  border-radius: 6px;
  background-color: #81559b;
  color: #fffff2;
  padding: 5px 25px;
}

.secondary-button {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 6px;
  background-color: #ac3a4a;
  color: #fffff2;
  padding: 5px 25px;
}

.outline-button {
  border: 1px solid rgb(50, 50, 50);
  border-radius: 6px;
  padding: 5px 25px;
}

.experience-details-open {
  transition: max-height 300ms ease-in;
  overflow: hidden;
}

.experience-details-closed {
  max-height: 0;
  transition: max-height 300ms ease-in;
  overflow: hidden;
}

.rotating-word {
  animation: typingEffect 1s steps(100, end), blinkingCursor 0.5s infinite;
}

.emoji {
  font-size: 0.8em;
  margin-left: 5px;
}

@keyframes typingEffect {
  from {
    width: 0;
  }
}

@keyframes blinkingCursor {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #000;
  }
}
