@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Nunito";
  background: #e0c4ee;
}

h5 {
  font-weight: bold;
  font-size: 1.25rem;
}

.bg-offwhite {
  background: #fffff2;
}

.text-offwhite {
  color: #fffff2;
}

.main-button {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 12px;
  background-color: #81559b;
  color: #fffff2;
  padding: 3px 10px;
}

.outline-button {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 12px;
  padding: 3px 10px;
}
