@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Nunito";
  background-color: #eee1f5;
  background-attachment: fixed;
  /* background-image: linear-gradient(135deg, #eee1f5 0%, #81559b 100%); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h5 {
  font-weight: bold;
  font-size: 1.25rem;
}

.bg-offwhite {
  background: #fffff2;
}

.text-offwhite {
  color: #fffff2;
}

.main-button {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 12px;
  background-color: #81559b;
  color: #fffff2;
  padding: 3px 15px;
}

.outline-button {
  border: 1px solid rgb(50, 50, 50);
  border-radius: 12px;
  padding: 3px 15px;
}

.experience-details-open {
  transition: max-height 300ms ease-in;
  overflow: hidden;
}

.experience-details-closed {
  max-height: 0;
  transition: max-height 300ms ease-in;
  overflow: hidden;
}

.rotating-word {
  overflow: hidden;
  position: relative;
  animation: typingEffect 1s steps(100, end), blinkingCursor 0.5s infinite;
}

/* Define the styles for the emoji class */
.emoji {
  font-size: 0.8em;
  margin-left: 5px;
}

@keyframes typingEffect {
  from {
    width: 0;
  }
}

/* Define the @keyframes for the blinkingCursor animation */
@keyframes blinkingCursor {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #000;
  }
}
